<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="main.css">
	<title></title>
</head>
<body>
	<div class="topo">
		<div class="topo-interno">
			<div class="logomarca">
				<h2>LOGOMarca</h2>
			</div>
			<div class="menu">
				<ul>
					<li>HOME</li>
					<li>SOBRE</li>
					<li>NOTÍCIAS</li>
					<li>PRODUTOS</li>
					<li>CONTATO</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="banner">
		<div class="banner-interno">
			<div class="frases">
				<h1>Frase de EFEITO</h1>
				<h3>Outras frases que complementam a frase de efeito.</h3>
				<button>Acessar o Produto</button>
			</div>
			<div class="img-homem">
				<img src="../img/homem.png">
			</div>
		</div>
	</div><div class="conteudo">
		<div class="conteudointerno">
			<div class="outrosprodutos">
				Outros Produtos
			</div>
			<div class="fotos">
				<img src="../img/banner1.jpg" />
				<img src="../img/banner2.jpg" />
				<img src="../img/banner3.jpg" />
				<img src="../img/banner4.jpg" />
			</div>
		</div>
	</div>
	<div class="rodape">
		Sua Empresa
	</div>
</body>
</html>